<mat-toolbar id="actionBar">
  <span id="actionBarTitle">
      Dashboard
  </span>
</mat-toolbar>
<div style="padding:40px;font-size:30px">
  <div *ngFor="let i of this.count;">
      <div class="row" style="margin-bottom: 3px;">
          <div class="col-sm-2" style="background-color:gainsboro;">&nbsp;</div>
          <div class="col-sm-2" style="background-color:lightgrey;">&nbsp;</div>
          <div class="col-sm-2" style="background-color:gainsboro;">&nbsp;</div>
          <div class="col-sm-2" style="background-color:lightgrey;">&nbsp;</div>
          <div class="col-sm-2" style="background-color:gainsboro;">&nbsp;</div>
          <div class="col-sm-2" style="background-color:lightgrey;">&nbsp;</div>
      </div>
  </div>
</div>