<ng-container *ngIf="shouldRun">
  <mat-toolbar class="example-header"><mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <app-header [sidenavRef]='sidenav'></app-header>
  </mat-toolbar>
 <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom" style="display: block;width:320px;"
                 [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let sidemenu of sideMenuList">
          <mat-expansion-panel-header>
              <mat-panel-title>{{sidemenu.header.title}}</mat-panel-title>
              <mat-panel-description>{{sidemenu.header.desc}}</mat-panel-description>
          </mat-expansion-panel-header>
            <div *ngIf="sidemenu.content.islink">
                <input matButton type="button" title={{sidemenu.content.text}}>
                <a  routerLink={{sidemenu.content.routeLink}}>{{sidemenu.content.text}}</a>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content [formGroup]="options">
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container> 
  <mat-toolbar class="example-footer">
    <app-footer></app-footer>
  </mat-toolbar>
</ng-container>
