<div class="basic-container">
  <span *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.children && item.children.length > 0">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu">
        {{item.displayName}} 
        <mat-icon>expand_more</mat-icon>
      </button>
      <app-menuitem #menu [items]="item.children"></app-menuitem>
    </span>
    <!-- Leaf node buttons here -->
    <span *ngIf="!item.children || item.children.length === 0">
      <button mat-button color="primary" [routerLink]="item.route">
        {{item.displayName}}
      </button>
    </span>
  </span>
</div>