<mat-toolbar class="example-footer">
    <div class="col-md-12">
        <div class="row">
            <div class="footer col-md-12">
                <div class="pull-left col-md-2 footer-logo">
                    <a href="http://www.techoil.com/" target="_blank" class="pull-left">
                        <img alt="Inatech Logo" src="../../assets/images/footer-logo-techoil.png">
                    </a>
                    <div class="pull-left col-md-12 copyrights">Copyright © 2017 Techoil | Version 2.0</div>
                </div>
            </div>
        </div>
      </div>
</mat-toolbar>